*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(../../assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.background_container {
  position: relative;
  width: auto;
  height: 100vh;
  margin: 0;
}
.background_container .icon_container {
  width: auto;
  height: 100vh;
  margin-top: 0;
  margin: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.background_container .icon_container .icon img {
  width: 72px;
}

.Popup {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.Popup .Popup_content {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 100%;
}
.Popup .Popup_content img {
  width: 46%;
}

.popupIcon {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.popupIcon .popupIcon_content {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 4px;
  width: 100%;
  height: 100%;
}
.popupIcon .popupIcon_content .popupIcon_main {
  display: flex;
  gap: 16px;
}
.popupIcon .popupIcon_content .popupIcon_main img {
  width: 72px;
  height: 104.17px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 4px;
}